* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #f0a174, #da5d7b, #9b319f);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.scroll-section {
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease; /* Smooth scroll effect */
}

.testimonial-card {
  width: 100%;
  height: 350px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  padding: 15px;
  opacity: 0.5; /* Make inactive cards less visible */
  transform: scale(0.9);
  margin: 10px 0; /* Margin between cards */
}

.testimonial-card.active {
  z-index: 99;
  opacity: 1;
  transform: scale(1); /* Full size for the active card */
}

.card-banner {
  width: 100%;
  height: 150px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  margin-bottom: 15px;
}

.card-info {
  display: flex;
  gap: 1rem;
}

.card-img {
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.card-text {
  height: 12px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.card-text-about {
  width: 300px;
  height: 24px;
  margin-bottom: 10px;
}

.card-text-social {
  width: 200px;
  height: 14px;
}

.controls {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
